<div class="CustomerCreation">
  <div class="container-fluid">
    <div class="form-card">
      <div class="form-header">
        <h2>{{ isEditMode ? 'Update' : 'Create' }} Customer</h2>
        <p>Enter the details for your {{ isEditMode ? 'customer update' : 'new customer record' }}</p>
      </div>

      <div class="form-body">
        <div class="form-section">
          <div class="form-grid">
            <div class="form-group">
              <div class="label-icon-row">
                <label for="name" class="field-required">Name</label>
                <i class="fas fa-user"></i>
              </div>
              <div class="form-input-wrapper">
                <input
                  type="text"
                  id="name"
                  placeholder="Customer full name"
                  required
                  [(ngModel)]="customer.name"
                />
              </div>
            </div>

            <div class="form-group">
              <div class="label-icon-row">
                <label for="email">Email</label>
                <i class="fas fa-envelope"></i>
              </div>
              <div class="form-input-wrapper">
                <input
                  type="email"
                  id="email"
                  placeholder="customer@email.com"
                  [(ngModel)]="customer.email"
                />
              </div>
            </div>

            <div class="form-group">
              <div class="label-icon-row">
                <label for="phoneNumber">Phone</label>
                <i class="fas fa-phone"></i>
              </div>
              <div class="form-input-wrapper">
                <input
                  type="text"
                  id="phoneNumber"
                  placeholder="+1 234 567 890"
                  [(ngModel)]="customer.phoneNumber"
                />
              </div>
            </div>

            <div class="form-group">
              <div class="label-icon-row">
                <label for="countryId" class="field-required">Country</label>
                <i class="fas fa-globe"></i>
              </div>
              <div class="form-input-wrapper">
                <select
                  id="countryId"
                  class="form-control"
                  [(ngModel)]="customer.countryId"
                  (ngModelChange)="onCountryChange($event)"
                >
                  <option value="">-- Select Country --</option>
                  <option *ngFor="let country of countries" [value]="country.countryId">
                    {{ country.countryName }} ({{ country.countryCode }})
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="label-icon-row">
                <label for="locationId" class="field-required">Location</label>
                <i class="fas fa-map-marker-alt"></i>
              </div>
              <div class="form-input-wrapper">
                <select
                  id="locationId"
                  class="form-control"
                  [(ngModel)]="customer.locationId"
                  (ngModelChange)="onLocationChange($event)"
                  [disabled]="!customer.countryId"
                >
                  <option value="">-- Select Location --</option>
                  <option *ngFor="let location of filteredLocations" [value]="location.locationId">
                    {{ location.locationName }}
                    <span *ngIf="location.city"> - {{ location.city }}</span>
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="form-section">
          <div class="form-grid">
            <div class="form-group full-width">
              <div class="label-icon-row">
                <label for="address">Address</label>
                <i class="fas fa-home"></i>
              </div>
              <div class="form-textarea-wrapper">
                <textarea
                  id="address"
                  placeholder="Full address"
                  [(ngModel)]="customer.address"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-footer">
        <button type="button" class="btn btn-view-list view-list" routerLink="/features/customers">
          <i class="fas fa-list"></i> View List
        </button>
        <button type="button" class="btn btn-secondary" (click)="resetForm()">
          <i class="fas fa-refresh"></i> Reset
        </button>
        <button type="submit" class="btn btn-primary" (click)="submitCustomer()" [disabled]="isLoading">
          {{ isEditMode ? 'Update' : 'Create' }} Customer
        </button>
      </div>
    </div>
  </div>
</div>
