

<div class="ExpenceTracker">
  <app-toast></app-toast>
  <app-sidebar *ngIf="showSidebar"></app-sidebar>

  <main class="main-section">
    <router-outlet></router-outlet>
  </main>
</div> 
<!-- <app-invoice-template1></app-invoice-template1> -->
 <!-- <app-invoice-template2></app-invoice-template2> -->
<!-- <app-invoice-template3></app-invoice-template3> -->
<!-- <app-invoice-template4></app-invoice-template4> -->
<!-- <app-invoice-template5></app-invoice-template5> -->
<!-- <app-invoice-template6></app-invoice-template6> -->
<!-- <app-invoice-template7></app-invoice-template7>  -->